#header-img {
  height: 90px;
}

@media (max-width: 900px) {
  #header-img {
    height: 60px;
    margin-top: 20px;
  }
}

#header {
  background-color: #c8d0e2;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 20px 30px 10px 50px;
  width: 100%;
  display: flex;
  box-shadow: 0 1px 8px #708090;
}

@media (max-width: 900px) {
  #header {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#nav-bar {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-right: 5rem;
}

@media (max-width: 900px) {
  #nav-bar {
    padding: 0;
  }
}

@media (max-width: 600px) {
  #nav-bar ul {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 0;
  }
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #faeedd;
  text-decoration: underline;
  text-transform: uppercase;
}

a:active {
  color: #faeedd;
  text-decoration: overline;
}

.nav-link-icon {
  color: #faeedd;
}

.nav-link-icon:hover {
  color: azure;
}

#signup {
  margin: 80px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  #signup {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  #signup {
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding: 0;
  }
  
  #main-image {
    width: 100vw;
  }
}

#main-image {
  max-width: 500px;
}

#main-text {
  margin-top: 100px;
  text-align: center;
}

#email {
  border-style: dashed;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  height: 1.5rem;
  padding: 0.5rem;
  font-family: "Manrope";
  outline: none;
}

.signUpBtn {
  font-family: "Manrope";
  margin-top: 10px;
  background-color: #c8d0e2;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 120px;
  height: 2rem;
  color: #fff;
  font-weight: bold;
}

.signUpBtn:hover {
  font-weight: normal;
  background-color: #708090;
  cursor: pointer;
}

.sections {
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  margin-top: 80px;
}

#features-container {
  display: grid;
  grid-template-columns: 4 1fr;
  grid-template-rows: 3 1fr;
  grid-gap: 10px;
  height: 500px;
  min-width: 350px;
  background-color: azure;
  margin: 0px 50px;
  padding: 50px 50px 0 50px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  #features-container {
    height: 600px;
    max-width: 350px;
    margin: 0 auto;
    padding: 30px 20px 0 20px;
  }
}

#feature-image1 {
  grid-area: 1/1/2/2;
}

#feature-image2 {
  grid-area: 2/1/3/2;
}

#feature-image3 {
  grid-area: 3/1/4/2;
}

#feature1 {
  grid-area: 1/2/2/5;
}

#feature2 {
  grid-area: 2/2/3/5;
}

#feature3 {
  grid-area: 3/2/4/5;
}

.icon {
  height: 125px;
  align-items: center;
  justify-content: center;
}

#video-container {
  margin: 0 auto;
}

#video {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: 315px;
}

@media (max-width: 900px) {
  #video {
    width: 400px;
    height: 250px;
  }
}

@media (min-width: 900px) {
  #pricing {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 900px) {
  #pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#pricing-container {
  background-color: #c8d0e2;
  border-radius: 5px;
  text-align: center;
}

@media (min-width: 900px) {
  #pricing-container {
    flex: 1 1 200px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  #pricing-container {
    margin: 20px;
    width: 350px;
    height: 350px;
  }
}

.price {
  font-size: 30px;
  font-weight: bold;
}

.price2 {
  font-size: 14px;
}

.selectBtn {
  font-family: "Manrope";
  border: none;
  border-radius: 4px;
  width: 40%;
  height: 2rem;
  color: #708090;
  margin-bottom: 10px;
}

.selectBtn:hover {
  text-transform: uppercase;
  background-color: azure;
  font-weight: bold;
  cursor: pointer;
}

#footer {
  text-align: center;
  padding: 1rem;
  margin: 20px;
}
